:root {
    --dark-color: #181818;
    --bg-color: #d7d1b0;
    --secondary: rgb(96, 77, 49);
    --font-color: #f0f0f0;
}

* {
    box-sizing: border-box;
    font-family: "Figtree";
}

h1{
    font-weight: 700;
}

body {
    user-select: none;
    background-color: var(--bg-color);
    color: var(--font-color);
    overflow-x: hidden;
}

.card img {
    -webkit-user-drag: none;
}

#card-container {
    display: inline-grid; /* Use inline-grid to shrink to fit content */
    grid-template-columns: repeat(3, 1fr);
    gap: 3em;
    justify-items: center; /* Center items horizontally */
    width: auto; /* Ensure the width is only as wide as the content */
    margin-bottom: 3em;
}

footer {
    background-color: var(--dark-color);
    color: var(--font-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
}

